rzslider span.rz-pointer:after {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 0px;
    height: 6px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}


rzslider span.rz-pointer {
    top: -12px;
    z-index: 3;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #0993BF;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 3px;
}