
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: $positive;
  border-radius: 3px 0 0 3px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 3px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}



.tag:hover {
  background-color: $positive;
  color: white;
}

.tag:hover::after {
   border-left-color: $positive; 
}