<div class="list">
  <label class="item item-input">
    <input type="text" 
           ng-model="userAddCourse.prof"
           minlength="2" maxlength="12" placeholder="教师姓名">
  </label>
  <label class="item item-input">
    <input type="text" 
           ng-model="userAddCourse.course"
           minlength="2" maxlength="12" placeholder="课程名称">
  </label>
    <label class="item item-input item-select">
        <div class="input-label">
          <p>教师职称：</p>
        </div>
        <select name="positionSelect"
                id="positionSelect" 
                ng-model="positionInfo.selectedOption"
                ng-options="option.name for option in positionInfo.allOptions track by option.id">
        </select>
    </label>  
    
    
    <label class="item item-input item-select">
        <div class="input-label">
          <p>开课院系：</p>
        </div>
        <select name="deptSelect"
                id="deptSelect" 
                ng-model="deptInfo.selectedOption"
                ng-options="option.name for option in deptInfo.allOptions track by option.id">
        </select>
    </label>
</div>