<ion-view title="过往议题">
	<ion-content class="scroll-bg-1">
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  ng-click="gotoDebateDetail()">
                <h2 style="">［已完结］ 食堂饭菜该不该涨价？<span style="float:right">20%赞成</span></h2> 
                <p><span style="float:right;font-size:12px;line-height:12px">100人参与</span></p>
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>

                    
                <div class="row">          
                    <div class="col-10" style="margin-right:8px;text-align:center;color: rgba(91,192,222,1)">
                        <i class="fa fa-sun-o fa-2x"></i>                  
                    </div>            
                    <div class="col-80">          
                        <div class="container bootstrap">
                            <div class="progress" style="margin-top:5px;margin-bottom:5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
                                    20%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                    30%
                                </div>								
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
                                    50%
                                </div>
                            </div> 
                        </div>     
                    </div>     
                    <div class="col-10" style="margin-left:5px;text-align:center;color: rgba(217,83,79,1)">
                        <i class="fa fa-moon-o fa-2x"></i>                  
                    </div>         
                </div>      

                
                <div class="stats"></div>
            </div>
        </div>
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  ng-click="gotoDebateDetail()">
                <h2 style="">［可参与］学校是否该发避孕套？<span style="float:right">20%赞成</span></h2> 
                <p><span style="float:right;font-size:12px;line-height:12px">100人参与</span></p>
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>

                    
                <div class="row">          
                    <div class="col-10" style="margin-right:8px;text-align:center;color: rgba(91,192,222,1)">
                        <i class="fa fa-sun-o fa-2x"></i>                  
                    </div>            
                    <div class="col-80">          
                        <div class="container bootstrap">
                            <div class="progress" style="margin-top:5px;margin-bottom:5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
                                    20%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                    30%
                                </div>								
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
                                    50%
                                </div>
                            </div> 
                        </div>     
                    </div>     
                    <div class="col-10" style="margin-left:5px;text-align:center;color: rgba(217,83,79,1)">
                        <i class="fa fa-moon-o fa-2x"></i>                  
                    </div>         
                </div>      

                
                <div class="stats"></div>
            </div>
        </div>
				
	</ion-content>
</ion-view>