<ion-view title="候选议题">
	<ion-content class="scroll-bg-1">
	
	
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  >
                <h2 style="">健身卡刷还是不刷？</h2> 
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>
                
                <div class="stats"></div>
            </div>
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>		
		</div>
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  >
                <h2 style="">生不生二胎？</h2> 
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>
                
                <div class="stats"></div>
            </div>
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>		
		</div>		
		
		
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading" >
                <h2 style="">偷不偷袭珍珠港？</h2> 
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>
                
                <div class="stats"></div>
            </div>
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>		
		</div>		
		
		
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  >
                <h2 style="">健身卡刷还是不刷？</h2> 
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>
                
                <div class="stats"></div>
            </div>
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>		
		</div>		
		
		
		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  >
                <h2 style="">健身卡刷还是不刷？</h2> 
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>
                
                <div class="stats"></div>
            </div>
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>		
		</div>		
		
				
		
		
		
		
		
		
	</ion-content>

</ion-view>