<ion-view view-title="民意" >
	
	<!--
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modal_topic.show()" >发起</button>
  </ion-nav-buttons>   
	-->

    <ion-content class="scroll-bg-1" >    
        
	<!--
<ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" show-pager="true">
  <ion-slide>
    <div class="box" ng-click=""><img width="100%" src="img/banner-1.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box" ><img width="100%" src="img/banner-2.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="box" ><img width="100%" src="img/banner-3.png"></div>
  </ion-slide>
</ion-slide-box>

'pagination':'.swiper-pagination',
-->
			<!--	

		
		
		<div class="top-slider" >
			<ks-swiper-container  override-parameters="{'autoplay':'5000',
													   'effect':'slide',
													  	
													   'paginationHide':'true',
													   'paginationClickable': 'false',
													   }"
								 initial-slide="0" 
								 loop="true" 
								 show-nav-buttons="false" 
								 slides-per-view="1" 
								 space-between="0" 
								 pagination-clickable="false"  
								 on-ready="onReadySwiper(swiper)">
				<ks-swiper-slide class="swiper-slide s1" ng-repeat="s in [1,2,3]" ng-click="alert()">
					<img ng-src="img/banner-{{s}}.png" width="100%">
				</ks-swiper-slide>						

			</ks-swiper-container>    		
		</div>

		
	<div style="margin-top:10px">
				<ks-swiper-container 
									 initial-slide="0" 
									 speed="2000" 
									 loop="false" 
									 show-nav-buttons="false" 
									 slides-per-view="3" 
									 space-between="0" 
									 pagination-clickable="false"
									 on-ready="onReadySwiper(swiper)">
					<ks-swiper-slide class="swiper-slide s2" ng-repeat="s in shortcutButtons">
						<div >
							<img ng-src="img/frontpage/{{s.img}}"  ui-sref="{{s.state}}"
								 width="60%" style="margin:auto; display:block">
							<p style="text-align:center; font-size: 13px; margin-bottom:0px; ">{{s.title}}</p>
						</div>
					</ks-swiper-slide>		
			`</ks-swiper-container>    	
	</div>	
-->
		
		
		<div class="row" style="margin: 10px 0px">
				<div ng-repeat="s in shortcutButtons" style="display:block;float: left; width: 33.3%" >
					<img ng-click="handleButtonClick(s.id)"
						 ng-src="img/frontpage/{{s.img}}" 
						 width="55%" style="margin:auto; display:block">
					<p style="text-align:center; font-size: 13px; margin-bottom:0px; ">{{s.title}}</p>
				</div>		
		</div>
<!--		
<div class="inner-circles-loader" style="display:block; margin:auto">
  Loading…
</div>
		
<div class="circles-loader" style="display:block; margin:auto">
  Loading…
</div>
		<br>
		
<div class="sk-cube-grid" style="margin-top:0px; margin-bottom:0px; margin-left:auto; margin-right: auto;
								 background-color: grey">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>		
	
-->

        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  ng-click="gotoDebateDetail()">
                <h2 style="">议题1 健身卡刷还是不刷？<span style="float:right">20%赞成</span></h2> 
                <p><span style="float:right;font-size:12px;line-height:12px">100人参与</span></p>
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>

                    
                <div class="row">          
                    <div class="col-10" style="margin-right:8px;text-align:center;color: rgba(91,192,222,1)">
                        <i class="fa fa-sun-o fa-2x"></i>                  
                    </div>            
                    <div class="col-80">          
                        <div class="container bootstrap">
                            <div class="progress" style="margin-top:5px;margin-bottom:5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
                                    20%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                    30%
                                </div>								
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
                                    50%
                                </div>
                            </div> 
                        </div>     
                    </div>     
                    <div class="col-10" style="margin-left:5px;text-align:center;color: rgba(217,83,79,1)">
                        <i class="fa fa-moon-o fa-2x"></i>                  
                    </div>         
                </div>      

                
                <div class="stats"></div>
            </div>
			
			<!--
            <div class="item top-opinion" >
				  <p class="text-positive">
					  <span ng-click="upVoteIncrement(review, true)" 
							ng-disabled="review.voted"> 有价值（15）</span>
					  <span ng-click="upVoteIncrement(review, false)" 
							ng-disabled="review.voted">无价值（5）</span>
					  <span style="float:right">发起人：詹天佑</span>
				  </p>
			</div>			
            <div class="item top-opinion" >
                <p>正方辩手1号：机械－12级</p>
                <P>巴拉拉的理由，吸引大家打开这个卡片</P>
            </div>
			-->
        </div>
                     

        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  ng-click="gotoDebateDetail()">
                <h2 style="">议题2 健身卡刷还是不刷？<span style="float:right">20%赞成</span></h2> 
                <p><span style="float:right;font-size:12px;line-height:12px">100人参与</span></p>
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>

                    
                <div class="row">          
                    <div class="col-10" style="margin-right:8px;text-align:center;color: rgba(91,192,222,1)">
                        <i class="fa fa-sun-o fa-2x"></i>                  
                    </div>            
                    <div class="col-80">          
                        <div class="container bootstrap">
                            <div class="progress" style="margin-top:5px;margin-bottom:5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
                                    20%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                    30%
                                </div>								
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
                                    50%
                                </div>
                            </div> 
                        </div>     
                    </div>     
                    <div class="col-10" style="margin-left:5px;text-align:center;color: rgba(217,83,79,1)">
                        <i class="fa fa-moon-o fa-2x"></i>                  
                    </div>         
                </div>      

                
                <div class="stats"></div>
            </div>
        </div>
                		
        <div class="card card-debate " style="clear:both;" >
            <div class="item heading"  ng-click="gotoDebateDetail()">
                <h2 style="">议题3 健身卡刷还是不刷？<span style="float:right">20%赞成</span></h2> 
                <p><span style="float:right;font-size:12px;line-height:12px">100人参与</span></p>
                <p>正方：有效督促学生锻炼身体</p>
				<p>中立：有利有弊，静观其变</p>
                <p>反方：太过强制，有损学生自主性，不能太过强制，有损学生自主性，不能</p>

                    
                <div class="row">          
                    <div class="col-10" style="margin-right:8px;text-align:center;color: rgba(91,192,222,1)">
                        <i class="fa fa-sun-o fa-2x"></i>                  
                    </div>            
                    <div class="col-80">          
                        <div class="container bootstrap">
                            <div class="progress" style="margin-top:5px;margin-bottom:5px;">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
                                    20%
                                </div>
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:30%">
                                    30%
                                </div>								
                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:50%">
                                    50%
                                </div>
                            </div> 
                        </div>     
                    </div>     
                    <div class="col-10" style="margin-left:5px;text-align:center;color: rgba(217,83,79,1)">
                        <i class="fa fa-moon-o fa-2x"></i>                  
                    </div>         
                </div>      

                
                <div class="stats"></div>
            </div>
        </div>
		
		
		
<!--
<div class="card" style="padding:0; margin: 0px 0px 10px 0px">
        <div class="img-banner " style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/banner1.png');" >
            <h2>最口音课程</h2>
        </div>
</div>
    
<div class="card" style="padding:0; margin: 0px 0px 10px 0px">
        <div class="img-banner " style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/banner2.png');" >
            <h2>最烧脑课程</h2>
    </div>
</div>

<div class="card" style="padding:0; margin: 0px 0px 10px 0px">
        <div class="img-banner " style="background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/banner3.png');" >
            <h2>最轻松课程</h2>
    </div>
</div>
-->


<!--
      
        <div class="list">
            <a class="item" ng-repeat="order in uniqueOrders"  >
                    <p> {{ order.customer.name }} , {{ order.customer.id }} </p>

            </a>
        </div>    

-->



    </ion-content>
</ion-view>