<ion-view view-title="列表" >

    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="showFilterBar()">
            <i class="fa fa-search fa-lg"></i>
        </button>
    </ion-nav-buttons>

	<ion-header-bar class="bar bar-subheader item-input-inset" >

        <div class="button-bar button-bar-sort">
            <a class="button button-clear"
               ng-click="setFilterOption('rate1')"
                ng-class="isActive('rate1') ? 'button-light' : 'button-stable'" >
                专业&nbsp;<i class="fa fa-arrow-circle-down"></i>
            </a>
            <a class="button button-clear"
               ng-click="setFilterOption('rate2')"
                ng-class="isActive('rate2') ? 'button-light' : 'button-stable'" >
                表达&nbsp;<i class="fa fa-arrow-circle-down"></i>
            </a>
            <a class="button button-clear"
               ng-click="setFilterOption('rate3')"
                ng-class="isActive('rate3') ? 'button-light' : 'button-stable'" >
                友好&nbsp;<i class="fa fa-arrow-circle-down"></i>
            </a>
        </div>
    </ion-header-bar>



  <ion-content scroll="true" class="scroll-bg-1">



        <div class="page-loading-spinner" ng-show="showSpinner">
        	<ion-spinner class="spinner-positive" icon="ripple"></ion-spinner>
        </div>



        <div class="list" >
            <a class="item item-avatar "
			   ng-repeat="course in displayCourses track by $index"
			   ui-sref="tab.listing-detail-4({ listingId: course.prof, deptId: course.dept})">
                <span class="conditional-images">
                    <img src="{{course.deptImg}}">
                </span>
              <h2>{{course.prof}}</h2>
              <p>{{course.name}}</p>
							<div style="position: absolute; top: 5px; right: 15px;">
								<p>
                  专业：{{course.rate1 | number: 1}}
                </p>
                <p>
                  表达：{{course.rate2 | number: 1}}
                </p>
                <p>
                  友好：{{course.rate3 | number: 1}}
                </p>
							</div>
            </a>
        </div>


		<ion-infinite-scroll on-infinite="loadMore()"
                             distance="1%"
                             ng-if="!noMorePost"
                             class="ispinner"
                             spinner="ripple">
		</ion-infinite-scroll>

  </ion-content>
</ion-view>
