  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        
      <h1 class="title">选择标签（限3个）</h1>
      <button class="button button-clear button-primary" ng-click="modalTagComplete()">完成</button>
    </ion-header-bar>
      
    <ion-content class="">
        
        <ion-checkbox ng-repeat="tag in tagOptions track by tag.id"
                      ng-model="tag.checked" 
                      ng-checked="tag.checked"
                      ng-change="checkChanged(tag)" 
                      ng-disabled="checked==limit && !tag.checked">
          {{ tag.value }}
        </ion-checkbox>         
        
        
    </ion-content>
  </ion-modal-view>